<%- model_class = Descargo -%>
<br><br>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>
<br>

<div class='falta'>
  <p>Descripcion: <%= @descargo.descripcion %></p>
  <p>Evidencia: <p>
  <p><strong><%= image_tag @descargo.evidencia.url(:small) %></strong></p>
</div>