<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/scm.png">
    <title>SCQ</title>
    <meta name="description" content="">
    <meta name="author" content="">
  </head>
  <body>
    <div class="responsive">
    <div class="modal-body">  
      <div class="control-group">
        <div class="row" id ="colors">
          <div class= "span6"> 
            <center><h4>Información del Aprendiz</h4></center>
            <hr>
          <label>nombres</label>
           <input type="text">
           <label>apellidos</label>
            <input type="text">
            <div class ="control-group">
             <label>tipo documento</label>
              <div class="controls" >
                <%= f.collection_select :tipo_documento_id, TipoDocumento.all, :id, :descripcion, :prompt => "Seleccione" %>
              </div>
            </div>
            <br><br>
            <%= f.input :identificacion %>
            <%= f.input :telefono %>
            <%= f.input :email %>

            <div class ="control-group">
              <label class="control-label" for="inputName">Programas</label>
              <div class="controls" >
                <%= f.collection_select  :programa_id, Programa.all,:id, :descripcion,:order => 'descripcion',:label => false, :required => true, :prompt => "Seleccione Programa",:input_html => {:class => 'span2' } %>
              </div>
            </div>
            <br><br>
            <div class ="control-group" id="fichasDiv">
              <div class="controls" >
                <%= render :partial => 'ficha', :object => @fichas %>
              </div>
            </div>
            <div class ="control-group">
              <%= f.label :descripcion_falta %>
              <div class="controls" >
                <%= f.text_area(:descripcion, :rows => 4) %>
              </div>
            </div>
            <br><br>
          </div>
          <center><h4>Tipo de falta y Datos del Informante</h4></center>
          <hr>

          <div class ="span6">
            <div class="row">
              <div class ="control-group">
                <%= f.label :falta_id %>
                <div class="controls" >
                  <%= f.collection_select :falta_id, Falta.all, :id, :descripcion, :prompt => "Seleccione" %>
                </div>
              </div>
              <br><br>
              <%= f.input :testigos %>
              <%= f.input :nombresinformante %>
              <%= f.input :apellidosinformante %>
              <%= f.input :direccioninformante %>
              <%= f.input :emailinfor %>
              <div class ="control-group">
                <%= f.label :cargo_id %>
                <div class="controls" >
                  <%= f.collection_select :cargo_id, Cargo.all, :id, :descripcion, :prompt => "Seleccione" %>
                </div>
              </div>
              <br><br>
              <div class ="control-group">
                <%= f.label :descargos %>
                <div class="controls" >
                  <%= f.text_area(:descargos, :rows => 4) %>
                </div>
              </div>
              <br><br>
              <%= f.input :estado %>
              <%= image_tag @queja.evidencia.url(:small) %>
              <%= f.label :Evidencia %>
              <%= f.file_field :evidencia %>
            </div>
          </div>
        </div>
        <%= f.button :submit, :class => 'btn-primary' %>
        <div class= "span12">
          <div class="form-actions">
             
             <%= link_to 'Atras', quejas_path, :class => 'btn btn-default' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>