<!DOCTYPE html>
<html lang="es">
	<head>
			<meta chartset="utf-8"/>
			<title>SCQ - Sistema Centralizado de Quejas</title>
	</head>
	<body>
		<p><%= image_tag attachments['logo-sena.png'].url -%></p>
		<p>Se ha generado una queja sobre el aprendiz <h3><%= @queja.nombres %></h3> <h3><%= @queja.apellidos %></h3> </p>
		<p>Descripcion de la queja presentad</p>
		<p><%= @queja.descripcion %></p>

		<p>El aprendiz debe de presentarse el dia de mañana en la oficina de Luz Albani para la "Subdireccion  Centro de Formacion en Diseño, Confrccion y Moda</p>

	</body>
</html>
