<div class="control-group" id="fichasDiv">
    <label class="control-label" for="inputName">Fichas</label>
    <div class="controls">
        <%= collection_select(:queja, :ficha_id, @fichas, :id, :codigo, :prompt => 'Seleccione Ficha') %>
    </div>
</div>