<%- model_class = Ficha -%>

<h1><%=t '.title', :default => model_class.model_name.human %></h1>


<div class='ficha'>

  <p>ficha: <%= @ficha.codigo %></p>
  <p>programa: <%= @ficha.programa.descripcion %></p>
  <p>estado: <%= @ficha.estado %></p>
</div>

