/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require lazybox
 *= require bootstrap-timepicker
 *= require_tree .
 */

#efecto1{
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

#regi{
  float: right;
  margin-top: -60px;
  margin-right: 200px;
}
#qest{
  float: right;
  margin-top: -70px;
 }
#qrem{
  float: right;
  margin-top: -40px;
}

#qcorr{
  float: right;
  margin-top: -25px;
}

#nr{
  float: right;
  margin-top: -50px;
}

.h1{
  text-align: center;
}
.buscador{
  background-color: #F0EEEE;
  padding: 25px;
  margin-top: -12px;
   /*** Rounded Corners ***/
   border-radius: 0px 0px 15px 15px;
  -moz-border-radius: 0px 0px 15px 15px;
  -webkit-border-radius:  0px 0px 15px 15px;
   /*** Shadow behind the box ***/
   box-shadow: 0px -5px 10px #000;
  -moz-box-shadow: 0px -5px 10px #000;
  -webkit-box-shadow:0px -5px 10px #000;
}

#bajar{
  padding-top: 10px;
  position: relative;
}
/* lazybox */
#lazybox div.tipo_documento { max-width: 500px; }
#lazybox div.centeruser { max-width: 500px; margin-top: 60px; border-radius: 0px; height: 290px; }


.lazybox {
  background: transparent !important;
}

#lazybox_close.img {
  background: url('close.png') no-repeat;
  width: 25px;
  height: 25px;
  top: -17px;
  right: -17px;
  
}

#lazybox.sticker {
  -webkit-border-bottom-left-radius: 20px 500px;
  -webkit-border-bottom-right-radius: 500px 30px;
  -webkit-border-top-right-radius: 5px 100px;
  -moz-border-radius-bottomleft: 20px 500px;
  -moz-border-radius-bottomright: 500px 30px;
  -moz-border-radius-topright: 5px 100px;
  border-radius-bottomleft: 20px 500px;
  border-radius-bottomright: 500px 30px;
  border-radius-topright: 5px 100px;
  border-bottom-left-radius: 20px 500px;
  border-bottom-right-radius: 500px 30px;
  border-top-right-radius: 5px 100px;
}

#lazybox.top {
  border-radius: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
}

#lazybox.player {
  background: transparent;
  border: none;
  box-shadow: none;
}


/* ordenamiento */

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url("up_arrow.gif");
}

.pretty th .desc {
  background-image: url("down-arrow.gif");
}


#color{
  background: #D8D8D8;
}

#border{
   /*** Rounded Corners ***/
   border-radius: 0px 0px 15px 15px;
  -moz-border-radius: 0px 0px 15px 15px;
  -webkit-border-radius:  0px 0px 15px 15px;
  /**border-radius: 0px 0px 15px 15px;
  border-radius:  0px 0px 15px 15px;**/
   /*** Shadow behind the box ***/
   box-shadow: 0px -5px 10px #000;
  -moz-box-shadow: 0px -5px 10px #000;
  -webkit-box-shadow:0px -5px 10px #000;
  /**box-shadow: 0px 0px 10px 10px #000;**/
  /**box-shadow:0px 0px 10px 10px #000;**/
 
}


footer{
  top: 108px; /* altura en px del footer con valor negativo */
  height: 50px; /* Altura del Footer en px*/
  clear: both;
  background: #FFA500;
  text-align: center;
  color: #000000;
  margin-top: 61px;
   /*** Rounded Corners ***/
   border-radius: 0px 0px 15px 15px;
  -moz-border-radius: 0px 0px 15px 15px;
  -webkit-border-radius:  0px 0px 15px 15px;
  /**border-radius: 0px 0px 15px 15px;
  border-radius:  0px 0px 15px 15px;**/
   /*** Shadow behind the box ***/
   box-shadow: 0px -5px 10px #000;
  -moz-box-shadow: 0px -5px 10px #000;
  -webkit-box-shadow:0px -5px 10px #000;
  /**box-shadow: 0px 0px 10px 10px #000;**/
  /**box-shadow:0px 0px 10px 10px #000;**/
}

/*boton de logueo */
div#buton{
  margin-top: -10px;
  float: right;
}


#imagen{
 height: 350px; 
 width: 350px;
 padding-left: 70%; 
 padding-right: 2%;

}


#es{
  height: 200px; 
  width: 300px;
}


/* color de las ventanas de lazybox*/
#lazyasho{
  background: #D8D8D8;
   height: 250px; 
   width: 450px;

}

#colors{
  background: #D8D8D8;

}

/* menu de los enlaces*/
ul.navigation {
  position: fixed;
  margin: 0px;
  padding: 0px;
  top: 10px;
  left: 0px;
  list-style: none;
  z-index:9999;
}

ul.navigation li {
  width: 100px;
}

ul.navigation li a {
  display: block;
  margin-left: -85px;
  width: 100px;
  height: 70px;
  background-color:#CFCFCF;
  background-repeat:no-repeat;
  background-position:center center;
  border:1px solid #AFAFAF;
}


ul.navigation li a {
  display: block;
  margin-left: -2px;
  width: 100px;
  height: 70px;
  background-color:#CFCFCF;
  background-repeat:no-repeat;
  background-position:center center;
  border:1px solid #AFAFAF;
  -moz-border-radius:0px 10px 10px 0px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -khtml-border-bottom-right-radius: 10px;
  -khtml-border-top-right-radius: 10px;
  -moz-box-shadow: 0px 4px 3px #000;
  -webkit-box-shadow: 0px 4px 3px #000;
}


ul.navigation li a {<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
    <%= form_tag request.path, :method => 'get' do %>
      <%= content_tag :label do %>
        <%= text_field_tag :search, params[:search], :placeholder => "Nombre Aprendiz" %>
        <%= submit_tag "Consultar", :nombres => nil, :apellidos => nil, :class => "btn btn-success" %>
        
      <% end %>
    <% end %>
    <p> N° de Resultados de la Busqueda: <%= "#{@asignacioncomites.count}" %> </p>

  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:id) %></th>
        <th><%= model_class.human_attribute_name(:nombres) %></th>
        <th><%= model_class.human_attribute_name(:apellidos) %></th>
        <th><%= model_class.human_attribute_name(:programa) %></th>
        <th><%= model_class.human_attribute_name(:ficha) %></th>
        <th><%= model_class.human_attribute_name(:created_at) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @asignacioncomites %>
    </tbody>
  </table>

  <%= link_to t('.new', :default => t("helpers.links.new")),new_asignacioncomite_path,:remote => true, :class => 'btn btn-primary' %>


  <div align="center">
    <%= will_paginate @asignacioncomites, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente
    &raquo;' %>
  </div>

  display: block;
  margin-left: -85px;
  width: 100px;
  height: 70px;
  background-color:#CFCFCF;
  background-repeat:no-repeat;
  background-position:center center;
  border:1px solid #AFAFAF;
  -moz-border-radius:0px 10px 10px 0px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -khtml-border-bottom-right-radius: 10px;
  -khtml-border-top-right-radius: 10px;
  opacity: 0.6;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}

ul.navigation li a img {
width: 75px;
height: 70px;
}


#c{
margin-top:-800%;
right: 900px;
}


/* login */
#registration {
  color: #fff;
  background: #242424;
  -moz-linear-gradient :10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 10px;
  width: 430px;
  padding: 20px;
}
 
 
#registration a {
  color: #8c910b;
  text-shadow: 0px -1px 0px #000;
}
 

#registration fieldset {
  padding: 20px;
}

/*
label {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border:solid 1px #444;
} */

/*titulos  login */
#registration h2 {
color: #fff;
text-shadow: 0px -1px 0px #000;
text-align: center;
padding: 18px;
margin: 0px;
font-weight: normal;
font-size: 24px;
font-family: Lucida Grande, Helvetica, Arial, sans-serif;
border-bottom: solid #181818 1px;
-moz-box-shadow: 0px 1px 0px #3a3a3a;
-webkit-box-shadow: 0px 1px 0px #3a3a3a;
box-shadow: 0px 1px 0px #3a3a3a;
}

#registerNew:hover { background-position: 0px -41px; }

#registerNew:active { background-position: 0px -82px; }

.menu {
 
 border-radius: 0px 0px 5px 5px;
 position: relative;

 
}

.borlink {
    /*** Rounded Corners ***/
border-radius: 0px 0px 15px 15px;
-moz-border-radius: 0px 0px 15px 15px;
-webkit-border-radius:  0px 0px 15px 15px;
 /*** Shadow behind the box ***/
 box-shadow: 0px -5px 9px #fff;
-moz-box-shadow: 0px -5px 9px #fff;
-webkit-box-shadow:0px -5px 9px #fff;
}