<%- model_class = Falta -%>
<br><br>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>
<br>

<div class='falta'>
  <p>id: <%= @falta.id %></p>
  <p>falta: <%= @falta.falta %></p>
  <p>descripcion: <%= @falta.descripcion %></p>
</div>
